<h2> <%= t ".page_header" %> </h2>

<% if @subjects.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th> <%= t ".sub_name" %> </th>
        <th> <%= t ".sub_desc" %> </th>
        <th colspan="2"> <%= t ".option" %> </th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |s| %>
        <tr>
          <td> <%= s.name %> </td>
          <td> <%= s.description %> </td>
          <td> <%= link_to t("lk_edit"), edit_admin_subject_path(s) %> </td>
          <td> <%= link_to t("lk_delete"), admin_subject_path(s), method: :delete,
            data: {confirm: t("delete_confirm")} %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2> <center><%= t "no_record_found" %></center> </h2>
<% end %>

<%= will_paginate %>
