<tr>
  <td><%= exam.created_at %></td>
  <td><%= exam.subject_name %></td>
  <td><%= exam.name %></td>
  <td><%= t("#{exam.status}") %></td>
  <td><%= t(:exam_minute_count, count: exam.limited_time) %></td>
  <td><%= t(:exam_question_count, count: exam.questions.size) %></td>
  <td><%= exam.score %></td>
</tr>
