<div class="row">
  <div class="col-md-12">
    <h3><%= t ".page_header" %></h3>

    <table class="table">
      <thead class="exams-table-head">
        <tr>
          <th><%= t ".th_created_date" %></th>
          <th><%= t ".th_subject" %></th>
          <th><%= t ".th_name" %></th>
          <th><%= t ".th_status" %></th>
          <th><%= t ".th_duration" %></th>
          <th><%= t ".th_question_number" %></th>
          <th><%= t ".th_score" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @exams %>
      </tbody>
    </table>
  </div>
</div>
