<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to t("logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to current_user.name, "#" %></li>
          <li><%= link_to "#", "#" %></li>
          <li><%= link_to "#", "#" %></li>
          <li>
            <%= link_to t("lk_logout"), logout_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to t("lk_login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
